<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AracKiralama"
        tools:targetApi="31">
        <activity
            android:name=".mercedeseqesatinalim"
            android:exported="false" />
        <activity
            android:name=".bmw216dsatinalim"
            android:exported="false" />
        <activity
            android:name=".chrsatinalim"
            android:exported="false" />
        <activity
            android:name=".focussatinalim"
            android:exported="false" />
        <activity
            android:name=".scalasatinalim"
            android:exported="false" />
        <activity
            android:name=".astrasatinalim"
            android:exported="false" />
        <activity
            android:name=".meganesatinalim"
            android:exported="false" />
        <activity
            android:name=".corollasatinalim"
            android:exported="false" />
        <activity
            android:name=".egeasatinalim"
            android:exported="false" />
        <activity
            android:name=".i20satinalim"
            android:exported="false" />
        <activity
            android:name=".mercedeseqe"
            android:exported="false" />
        <activity
            android:name=".bmw216d"
            android:exported="false" />
        <activity
            android:name=".fordfocus"
            android:exported="false" />
        <activity
            android:name=".skodascala"
            android:exported="false" />
        <activity
            android:name=".opelastra"
            android:exported="false" />
        <activity
            android:name=".renaultmegane"
            android:exported="false" />
        <activity
            android:name=".fiategea"
            android:exported="false" />
        <activity
            android:name=".toyotachr"
            android:exported="false" />
        <activity
            android:name=".toyotacorolla"
            android:exported="false" />
        <activity
            android:name=".hyundaii20"
            android:exported="true" />
        <activity
            android:name=".AccountActivity"
            android:exported="false" />
        <activity
            android:name=".Account"
            android:exported="false" />
        <activity
            android:name=".MovementActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>